<div id="task">
  <div class="vcenter">
    <h1 class="animated zoomInDown">
      you got these tasks to do yo\
    </h1>
    <ul class="animated zoomInDown">
      <% @tasks.each do |task| %>
      <li class="animated zoomInDown">
        <%= task.title %>
      </li>
      <% end %>
    </ul>
    <%= link_to "New Task", new_task_path , class: "btn btn-primary animated zoomInDown" %>
  </div>
</div>
