<div id="new_task">
  <div class="vcenter">
    <h1 class="animated zoomInUp">
      add a new task yo
    </h1>
    <%= simple_form_for @task do |t| %>
    <%= t.input :title, placeholder: "Enter your task" %>
    <%= t.submit "Add Task", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
