<div id="users">
  <div class="container">
    <h1>Current Users</h1>
    <% @user.each do |user| %>
    <br><%= gravatar_for user %><br>
    <br><span id="username"><%= user.name %></span> | <span id="email"><%= user.email %></span><br>
    <% end %>
  </div>
</div>
