<div id="users">
  <div class="container">
    <h1>Current Users</h1>
    <% @user.each do |user| %>
    <%= gravatar_for user %>
    <%= user.name %> -- <%= user.email %><br>
    <% end %>
  </div>
</div>
