<div id="users">
<h1>
  <%= gravatar_for @user %><br>
  <i><%= @user.name %></i>
</h1>
<strong>User: '<%=	@user.name %>'<br>Email:	'<%= @user.email	%>'</strong>
<% provide(:title, @user.name) %>
</div>
