<div id="home">
  <div class="vcenter">
    <h1 class="animated zoomInDown">
      hello yo
    </h1>
    <%= link_to 'Contact', contact_path, class: "animated zoomInDown" %>
    <%= link_to 'Privacy', privacy_path, class: "animated zoomInDown" %>
    <%= link_to 'Tasks', tasks_path, class: "animated zoomInDown" %><br>
<br><div class="login-page">
      <div class="form animated zoomInDown">
        <form class="login-form">
            <input type="text" placeholder="Username" style="text-align: center"/>
            <input type="password" placeholder="Password" style="text-align: center"/>
          <button>
            ENTER
          </button>
        </form>
      </div>
    </div>
  <%= debug(params) if Rails.env.development? %>
  </div>
</div>
