// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login{
background-color: $primary-bg-color;
height: 100vh;
border: 1px solid transparent;
text-align: center;
box-sizing: border-box;
font-family: 'Arapey', serif;
font-size: 1.3em;
.btn-primary {
text-transform: uppercase;
outline: 0;
background: #C91F37;
width: 20%;
border: 0;
padding: 15px;
color: black;
font-size: 1em;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
&:hover {
  background-color: #264348;
}
}
.vcenter{
margin-top: 40vh;
}
}
