<nav>
  <%= link_to 'Home', landing_path, class: "animated zoomInUp" %>
  <%= link_to 'Contact', contact_path, class: "animated zoomInUp" %>
  <%= link_to 'Privacy', privacy_path, class: "animated zoomInUp" %>
</nav>
